<!doctype html>
<html ng-app="ui.bootstrap.demo">
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>

<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }

  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
<div ng-controller="DatepickerDemoCtrl as dateCtrl">

  <div class="row">
    <div class="col-md-6">
      <p class="input-group">
        <input type="text"
               class="form-control"
               disabled="disabled"
               ng-model="dateCtrl.dt.value"
               datepicker-mode="year"
               max-date="{{dateCtrl.dt.maxDate}}"
               min-date="{{dateCtrl.dt.minDate}}"
               datepicker-options="{{dateCtrl.dt.options}}"
               />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default"
                  ng-click="dateCtrl.dt.open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <input type="text" value={{dateCtrl.saludo}}>
  {{dateCtrl.saludo}}


</div>


<script
    src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
<script
    src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
<script
    src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
<script src="example.js"></script>
</body>
</html>
